.header{
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header h2 {
    font-size: 24px;
    color: #f9faf8;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}
.main img {
    width: 250px;
    height: auto;
}
.main {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.subtext {
    width: 360px;
    font-size: 18px;
    margin: 10px;
}
button {
    background-color: #3882f6;
    color: #E5E7EB; 
    border-radius: 10px;
    padding: 10px;
    width: 100px;
}
.main .text h2 {
    font-size: 48px;
    width: 350px;
    color: #f9faf8;
    margin: 10px;
}
.info img {
    width: 100px;
    height: auto;
    border: 3px solid lightblue;
    border-radius: 10px;
    padding: 5px;
}
.info h2 {
    text-align: center;
    font-size: 36px;
}
.info .images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}